// File: about.less
// Note: 



.about {
  background-color: @gray-lighter;
  
  //margin-bottom: @margin-xxlarge;
  //margin: @margin-xxlarge 0;
  overflow: hidden;
  padding: 0;
  @media (min-width: 1400px) {
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }
}



.about__copy {
  font-weight: @font-weight-light;
  padding: @grid-gutter-width;
  @media (min-width: @screen-md-min) {
    padding: 10%;
    height: 400px;
  }
}

.about__image {
  background: url('../img/david-lee.jpg') no-repeat top center;
  background-size: cover;
  min-height: 200px;
  position: relative;
  @media (min-width: @screen-sm-min) {
    min-height: 360px;
  }
  @media (min-width: @screen-md-min) {
    min-height: 400px;
  }
}