// File: card.less
// Note: 


.card {
  text-align: center;
  margin-bottom: @grid-gutter-width;
}

.card__copy {
  margin: 0 auto;
  max-width: 420px;
}

.card__photo {
  background-color: fade(@brand-primary,25%);
  border-radius: 50%;
  &:extend(.inline-block);
  height: 210px;
  margin-bottom: @margin-small;
  padding: 8px;
  width: 210px;
  img {
    border-radius: 50%;
  }
  @media(min-width: @screen-md-min) {
    height: 260px;
    width: 260px;
  }
}