// File: footer.less
// Note: 

.footer {
  //background-color: @gray-darker;
  background-image: url('../img/desert.jpg');
  background-position: bottom center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  /*@media(min-width: @screen-sm-min){
  }*/
  /*@media(min-width: @screen-sm-min){
  }*/
  /*@media(min-width: @screen-md-min){
  }*/
  @media(min-width: @screen-lg-min){
    padding: 160px 0;
  }
}

.footer__container {
  //padding-top: @padding-xxlarge;
  position: relative;
}

.footer__copy {
  color: @white;
  margin-bottom: 0;
  text-align: center;
}