// File: scaffolding.less
// Note: 

// Headlines
// -------------------------

h1,h2,h3,h4,h5,h6 {
  color: darken(@gray-darker,10%);
  font-weight: @font-weight-light;
}


// Paragraphs
// -------------------------

p {
  font-weight: @font-weight-light;
}


// Bold and Strong
// -------------------------

b,strong {
  font-weight: @font-weight-bold;
}


// Links
// -------------------------

a {
  transition: all 250ms linear;
}


// Body
// -------------------------

body {
  background-color: #e4e3e2;
  position: relative;
}


// Images
// -------------------------

img {
  height: auto;
  max-width: 100%;
}


// Sections
// -------------------------

section {
  padding: @grid-gutter-width 0;
  &+& {
    //margin-top: @margin-xxlarge;
  }
  @media (min-width: @screen-md-min) {
    padding: @grid-gutter-width*2 0;
  }
  @media (min-width: @screen-lg-min) {
    padding: @grid-gutter-width*3 0;
  }
}

.section__headline {
  margin-top: 0;
}


// Site Wrapper
// -------------------------

.site-wrapper {
  margin: 0 auto;
  max-width: 1400px;
}


// Texture Cover
// -------------------------

.texture-cover {
  background: url('../img/grid.png') left top repeat;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  &:before {
    bottom: 0;
    background-color: black;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;  
    right: 0;
    top: 0;
  }
}

.texture-cover--dark {
  &:before {
    opacity: 0.5;
  }
}

.texture-cover--darker {
  &:before {
    opacity: 0.7;
  }
}





